.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  &__card {
    width: 16.5rem;
    background: $dark-mode-secondary-bg;
    color: $dark-mode-text;
    border-radius: 5px;
    list-style: none;
    margin-top: 2.5rem;
  }

  &__flag {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__content-wrapper {
    padding: 1.5rem 1.5rem 2.875rem;
  }

  &__name,
  &__pop,
  &__region,
  &__capital {
    margin: 0;
  }

  &__pop,
  &__region,
  &__capital {
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  &__label {
    font-weight: 600;
  }

  &__name {
    font-weight: 800;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
}