@mixin search-filter-style {
  padding: 1rem 2rem;
  background: #2B3844;
  border-radius: 5px;
  border: none;
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}